* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: black;
    color: white;
    overflow-x: hidden;
    overflow: hidden;
}


#home7 {
    display: flex;
    flex-direction: row;
}

#home7::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    z-index: -1;
    opacity: 0.99;
    overflow-y: hidden;

}

.city7 img {
    position: absolute;
    bottom: -50px;
    left: 180px;
    animation: sky 5s forwards;
}

.moon7 {
    background-color: transparent;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: -20px 10px white;
    position: absolute;
    left: -11%;
    top: 46%;
    opacity: 1;
    animation: move 4s forwards;



}

@keyframes move {
    100% {
        transform: translateX(20vw)
    }
}



.drone7 img {
    width: 641px;
    height: 356px;
    margin: 6px 713px;
    position: absolute;
    animation: fly 1s infinite;
    animation-delay: 0.5s;
    z-index: 20;
}

@keyframes sky {
    0% {
        transform: translateY(60vh);
    }
}



@media screen and (max-width: 600px) {

    .home {
        display: block;
    }

    .city7 img {
        position: absolute;
        bottom: 0vh;
        height: 30vh;
        width: 100vw;
        left: -2vw;
        animation: sky1 3s forwards;
    }

    @keyframes sky1 {
        0% {
            transform: translateY(153vh);
        }
    }

    .moon7 {
        background-color: transparent;
        width: 14vw;
        height: 14vw;
        top: 35vh;
        left: -14vw;
        border-radius: 50%;
        box-shadow: -20px 10px white;
        position: absolute;

        opacity: 1;
        animation: move 4s forwards;



    }

    .drone7 img {
        width: 62vw;
        height: 25vh;
        margin: 18vw;
        position: absolute;
        animation: fly 1s infinite;
        animation-delay: 0.5s;
        margin-top: 18vh;
        z-index: 20;
    }

}