#home2::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    z-index: -1;
    opacity: 0.99;
  }
  
  .drone2 img {
    width: 641px;
    height: 356px;
    margin: 6px 713px;
    position: absolute;
  }
  
  #home2::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 90vh;
    width: 100vw;
    z-index: -1;
    opacity: 0.8;
  }
  
  #secone {
    background-color: black;
    position: relative;
    opacity: 222;
    bottom: -500px;
  }
  
  .container h1 {
    margin: 0px 63%;
    width: 214px;
  
  
  }
  
  .scroll-down {
    height: 61px;
    width: 27px;
    border: 2px solid white;
    position: absolute;
    left: 67%;
    top: 52px;
    border-radius: 50px;
    cursor: pointer;
  
  }
  
  .scroll-down::before,
  .scroll-down::after {
    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid white;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
  }
  
  .scroll-down::after {
    top: 30%;
    animation-delay: .3s;
  }
  
  @keyframes scroll-down {
    0% {
      opacity: 0;
    }
  
    30% {
      opacity: 1;
    }
  
    60% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
      top: 90%;
    }
  
  }
  
@media screen and (max-width: 600px) {
   
  
  
    #home2::before {
      content: "";
      background-color: black;
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100vh;
      width: 100%;
      z-index: -1;
      opacity: 0.99;
    }
  
    .drone2 img {
      width: 79vw;
      height: 22vh;
      /* margin: 45% 13%; */
      margin-top: 11vh;
      margin-left: 10.5vw;
      position: absolute
    }
  
    #home2::before {
      content: "";
      background-color: black;
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100vh;
      width: 100%;
      z-index: -1;
      opacity: 0.8;
    }
  
    #secone {
      background-color: black;
      position: relative;
      opacity: 222;
      /* bottom: -500px; */
      top: 40vh;
    }
  
  
    .scroll-down {
      height: 6vh;
      width: 6vw;
      border: 2px solid white;
      position: absolute;
      left: 47vw;
      border-radius: 50px;
      cursor: pointer;
      margin-top: 0vh;
  
    }
  
    .container h1 {
      margin-top: 0vh;
      margin-left: 38vw;
      width: 33vw;
      font-size: 4vw;
    }
  
    .scroll-down::before,
    .scroll-down::after {
      content: '';
      position: absolute;
      top: 20%;
      left: 50%;
      border: 2px solid white;
      height: 10px;
      width: 10px;
      transform: translate(-50%, -100%) rotate(45deg);
      border-top: transparent;
      border-left: transparent;
      animation: scroll-down 1s ease-in-out infinite;
    }
  
    .scroll-down::after {
      top: 30%;
      animation-delay: .3s;
    }
  
    @keyframes scroll-down {
      0% {
        opacity: 0;
      }
  
      30% {
        opacity: 1;
      }
  
      60% {
        opacity: 1;
      }
  
      100% {
        opacity: 0;
        top: 90%;
      }
    }
  
  
  }